{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
 {% endblock %}

{% block content %}
    <h1>Welcome {{user}}</h1>

<style type="text/css">
		#topright {
		    position: absolute;
		    right: 0;
		    top: 0;
		}

		
</style>

<form method="POST" >
<div id="topright">
<input type="hidden" name="myforms" value="logout">
<input type="image" name="logout" id="image" alt="Login"
       src="http://jakecollier.tech/images/button_logout.png">
</div>
</form>

<form class="form-horizontal" action="/adminHome" method="POST" 
style = "border-style: solid; width:100%;
	position: relative;
    top: 13%;
    left: 0%;"> 

<input type="hidden" name="myforms" value="add loc">

<fieldset>
		<!-- Form Name -->
		<legend>Add a location</legend>
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="textinput">Location Name</label>  
		  <div class="col-md-4">
		  <input id="textinput" name="name" type="text" placeholder="" class="form-control input-md" required="">   
		  </div>
		</div>
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="textinput">Location Longitude</label>  
		  <div class="col-md-4">
		  <input id="textinput" name="lon" type="text" placeholder="" class="form-control input-md">
		  </div>
		</div>
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="textinput">Location Latitude</label>  
		  <div class="col-md-4">
		  <input id="textinput" name="lat" type="text" placeholder="" class="form-control input-md">
		    
		  </div>
		</div>
		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="singlebutton"></label>
		  <div class="col-md-4">
		    <input type="submit" value="Submit" class="btn btn-primary"></button>
		  </div>
		</div>
		</fieldset>
</form>

<form class="form-horizontal" action="/adminHome" method="POST" style = "border-style: solid; width:100%;
	position: relative;
    top: 13%;
    right: 0%;">

<input type="hidden" name="myforms" value="rem loc">

<fieldset>

<!-- Form Name -->
<legend>Remove Location</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Select Campus Location</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      {% for c in location_list %}
		<OPTION value="{{c.name}}">{{c.name}}</option>
	  {% endfor %}
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="" name="" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>

<form class="form-horizontal" action="/adminHome" method="POST" style = "border-style: solid; width:100%;
	position: relative;
    top: 53%;
    left: 0%;">
	<input type="hidden" name="myforms" value="add user">
<fieldset>

<!-- Form Name -->
<legend>Add User</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="">Username:</label>  
  <div class="col-md-4">
  <input id="" name="username" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="">Password</label>
  <div class="col-md-4">
    <input id="" name="password" type="password" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>

<form class="form-horizontal" action="/adminHome" method="POST" style = "border-style: solid; width:100%;
	position: relative;
    top: 53%;
    left: 0%;">
	<input type="hidden" name="myforms" value="add sym">
<fieldset>

<!-- Form Name -->
<legend>Add Symptom</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Cluster</label>
  <div class="col-md-4">
    <select id="selectbasic" name="cluster" class="form-control">
      {% for c in cluster_list %}
		<OPTION value="{{c.cluster_id}}">{{c.cluster_id}}</option>
	  {% endfor %}
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Symptom </label>  
  <div class="col-md-4">
  <input id="textinput" name="sym" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>


<form class="form-horizontal" action="/adminHome" method="POST" style = "border-style: solid; width:100%;
	position: relative;
    top: 53%;
    left: 0%;">
	<input type="hidden" name="myforms" value="rem sym">
<fieldset>
<!-- Form Name -->
<legend>Delete Symptom</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Symptom</label>
  <div class="col-md-4">
    <select id="selectbasic" name="sym" class="form-control">
      {% for c in sym_list %}
		<OPTION value="{{c.name}}">{{c.name}}</option>
	  {% endfor %}
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>


 {% endblock %}