{% extends "map_base.html" %}
{% block title %} HeatMap {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{%block content %}
<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('test') }}">Self Assessment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('heatmap') }}">View Heatmap</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Admin Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block body %}
    {% include "hmap.html" %}
{% endblock %}