<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
</head>
<style>
body {
    background-color: #3498DB;
}
</style>
<body>
<div class="result" style="margin-left:300px; margin-right:300px; margin-top:150px; text-align:center; padding:20px; background-color:white; border-style:solid; border-color:black; border-width:3px; font-family: Arial">
    <h1></h1>
        <p>This is your result. Your rscore is higher than the threshold.</p>
        <p>Do you want to provide the location you have visited?</p>
        <p>Yes</p>
        <p>No</p>
    <h1>Location Tracing:</h1>
    
    <div class="checkbox"><input type="checkbox" name="location" value="" id="SiteSite1"><label for="SiteSite1">ODSite:P11379-440YishunAve11 HWSW_ESTA ENO21.000070.10001 92640145</label></div>
    
        
</div>
</body>
</html> 