<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
</head>
<style>
body {
    background-color: #3498DB;
}
</style>
<body>   
<div class="result" style="margin-left:300px; margin-right:300px; margin-top:150px; text-align:center; padding:20px; background-color:white; border-style:solid; border-color:black; border-width:3px; font-family: Arial">
    <h1></h1>
        <p>This is your result. Your score is higher than the threshold, which indeciates that you have high risk of contracting COVID-19. You should check out the guideline to know what you should do next. </p>
        <p>To improve the accuracy of Stockton University heat map, please provide the location you have visited</p>
    
    <h1>Location Tracing:</h1>
    <div style="text-align: left">
    <form action="">
    <input type="checkbox" name="location1" value="School of health sciences">
        <label for="location1"> Schools Of Health Sciences</label><br>
    <input type="checkbox" name="location2" value="Unified science center">
        <label for="location2"> Unified Science Center</label><br>
    <input type="checkbox" name="location3" value="Sports Center (Big Blue)">
        <label for="location3"> Sports Center (Big Blue)</label><br>
    <input type="checkbox" name="location4" value="Arts and Science Building">
        <label for="location4"> Arts and Science Building</label><br>
    <input type="checkbox" name="location5" value="Campus Center">
        <label for="location5"> Campus Center</label><br>
    <input type="checkbox" name="location6" value="A Wing">
        <label for="location6"> A Wing</label><br>
    <input type="checkbox" name="location7" value="B Wing">
        <label for="location7"> B Wing</label><br>
    <input type="checkbox" name="location8" value="C Wing">
        <label for="location8"> C Wing</label><br>
    <input type="checkbox" name="location9" value="D Wing">
        <label for="location9"> D Wing</label><br>
    <input type="checkbox" name="location10" value="E Wing">
        <label for="location10"> E Wing</label><br>
    <input type="checkbox" name="location11" value="F Wing">
        <label for="location11"> F Wing</label><br>
    <input type="checkbox" name="location12" value="G Wing">
        <label for="location12"> G Wing</label><br>
    <input type="checkbox" name="location13" value="H Wing">
        <label for="location13"> H Wing</label><br>
    <input type="checkbox" name="location14" value="I Wing">
        <label for="location14"> I Wing</label><br>
    <input type="checkbox" name="location15" value="J Wing">
        <label for="location15"> J Wing</label><br>
    <input type="checkbox" name="location16" value="K Wing">
        <label for="location16"> K Wing</label><br>
    <input type="checkbox" name="location17" value="L Wing">
        <label for="location17"> L Wing</label><br>
    <input type="checkbox" name="location18" value="M Wing">
        <label for="location18"> M Wing</label><br>
    <input type="checkbox" name="location19" value="N Wing">
        <label for="location19"> N Wing</label><br>
    <input type="checkbox" name="location20" value="West Quad">
        <label for="location20"> West Quad</label><br>
    <input type="checkbox" name="location21" value="Townsend Residential Life Center">
        <label for="location21"> Townsend Residential Life Center</label><br>
    <input type="checkbox" name="location22" value="Housing 2">
        <label for="location22"> Housing 2</label><br>
    <input type="checkbox" name="location23" value="Housing 3">
        <label for="location23"> Housing 3</label><br>
    <input type="checkbox" name="location24" value="The Lodge at Lakeside">
        <label for="location24"> The Lodge at Lakeside</label><br>
    <input type="checkbox" name="location25" value="Arrowwood">
        <label for="location25"> Arrowwood</label><br>
    <input type="checkbox" name="location26" value="Birch">
        <label for="location26"> Birch</label><br>
    <input type="checkbox" name="location27" value="Cedar">
        <label for="location27"> Cedar</label><br>
    <input type="checkbox" name="location28" value="Dogwood">
        <label for="location28"> Dogwood</label><br>
    <input type="checkbox" name="location29" value="Elderberry">
        <label for="location29"> Elderberry</label><br>
    <input type="checkbox" name="location30" value="Fern">
        <label for="location30"> Fern</label><br>
    <input type="checkbox" name="location31" value="Greenbriar">
        <label for="location31"> Greenbriar</label><br>
    <input type="checkbox" name="location33" value="Heather">
        <label for="location33"> Heather</label><br>
    <input type="checkbox" name="location34" value="Ivy">
        <label for="location34"> Ivy</label><br>
    <input type="checkbox" name="location35" value="Juniper">
        <label for="location35"> Juniper</label><br>
    <input type="checkbox" name="location36" value="Kerria">
        <label for="location36"> Kerria</label><br>
    <input type="checkbox" name="location37" value="Laurel">
        <label for="location37"> Laurel</label><br>
    <input type="checkbox" name="location38" value="Maple">
        <label for="location38"> Maple</label><br>
    <input type="checkbox" name="location39" value="Nectar">
        <label for="location39"> Nectar</label><br>
    <input type="checkbox" name="location40" value="Building 81">
        <label for="location40"> Building 81</label><br>
    <input type="checkbox" name="location41" value="Building 82">
        <label for="location41"> Building 82</label><br>
    <input type="checkbox" name="location42" value="Building 83">
        <label for="location42"> Building 83</label><br>
    <input type="checkbox" name="location43" value="Building 84">
        <label for="location43"> Building 84</label><br>
    <input type="checkbox" name="location44" value="Building 85">
        <label for="location44"> Building 85</label><br>
    <input type="checkbox" name="location45" value="Building 86">
        <label for="location45"> Building 86</label><br>
    <input type="checkbox" name="location46" value="Building 87">
        <label for="location46"> Building 87</label><br>
    <input type="checkbox" name="location47" value="Building 88">
        <label for="location47"> Building 88</label><br>
    </form>   
    </div>
</div>
</body>
</html> 