{% extends "base.html" %}
{% block title %}Contact Tracing{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<body>   
<div class="result" style="margin-left:300px; margin-right:300px; margin-top:150px; text-align:center; padding:20px; background-color:white; border-style:solid; border-color:black; border-width:3px; font-family: Arial">
    <h1>You have scored {{score}}.</h1>
     
     <p>
     This score is on the higher end of the risk threshold, meaning you have an increased chance of contracting Covid-19. Please follow up with your healthcare professional. We recommend self-isolation for at least 14 days, or until a Covid test can be performed.<br></br></p>

    <h1>Location Tracing:</h1>
    <p>To improve the accuracy of Stockton University heat map, please provide the campus locations you have visited in the last 14 days.</p>

    <div style="text-align: left">

    <form action="/location-trace" method = "POST">

        <input type="hidden" name="myforms" value="submit locs">

        {% for c in location_list %}
        <input type="checkbox" id="{{c.name}}" name="{{c.name}}" value="{{c.name}}">
            <label for="{{c.name}}">{{c.name}}</label><br>
        {% endfor %}

    <button class="submit">Submit Responses</button>
    </form>   
    </div>

</div>
</body>
{% endblock %}