{% extends "base.html" %}
{% block title %}Results{% endblock %}
{% block head %}
  {{ super() }}
 {% endblock %}

{% block content %}
  <!DOCTYPE html>
<html>
<head>
    <title>COVID-19 Self Assessment Results</title>
</head>
<style>
body {
    background-color: #3498DB;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-style:solid;
    border-color:black;
    border-width:3px;
}
.button1 {
    background-color: #008CBA;
}

.button1:hover{
    background-color:black;
}
</style>
<body>
<div class="result" style="margin-left:300px; margin-right:300px; margin-top:150px; text-align:center; padding:20px; background-color:white; border-style:solid; border-color:black; border-width:3px; font-family: Arial">
    <h1>You have scored: {{score}} </h1>
        <p>Because of your score, we recommend that you quarantine for 14 days and evaluate your symptoms again after the 14 days.<br> 
        We recommend you take this self-assessment after that time as well. This self-assessment test features a heatmap displaying<br>
        potential cases and concentration throughout the Stockton University Galloway Campus.<br>
        <br>
        Click on the "View Heatmap" button below to view the Heatmap.
        <br>

        <form action="/lowscore"  method="POST">
           <input type="hidden" name="myforms" value="view heat">
           <button class="button button1">View Heatmap</button>
        </form>

        </p>
</div>
</body>
</html>
 {% endblock %}