<!DOCTYPE html>
<html>
<head>
    <title>COVID-19 Self-Assessment Questionnaire</title>
</head>
<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="test.html">Test</a></li>
    </ul>
</nav>
<body>

    <h1>COVID-19 Self-Assessment</h1>
        <p>Answer each question as accurately as possible.</p>

            <p>1. Are you experiencing any of the following?</p>

            <pre>
             Extreme difficulty breating
             Blue-Colored lips or face
             Severe pain or pressure in the chest
             Severe constant dizziness or light-headedness
             Acting confused
             Slurred speech
             Seizures
            </pre>

</body>
</html>