{% extends "base.html" %}
{% block title %}Foo{% endblock %}
{% block head %}
  {{ super() }}
 {% endblock %}

{% block content %}
<body>
<h1 style="margin:90px; 
text-align:center; 
padding:20px; 
background-color:white; 
border-style:solid; 
border-color:black; 
border-width:3px;"
>COVID-19 Self-Assessment
</h1>

<div style = "margin:95px; background-color:white; padding:25px; font-size:20px; border-style:solid; border-color:black; border-width:3px;">
        <p style="font-weight: bold; font-size:25px;">Are you experiencing any of the following? Choose all that apply.</p>

        <form action="/test" method="POST">
        	<input type="hidden" name="myforms" value="submit answers">
            {% for c in sym_list %}
            <input type="checkbox" id="{{c.name}}" name="{{c.name}}" value="{{c.name}}">
            	<label for="{{c.name}}">{{c.name}}</label><br>
            {% endfor %}

         <button class="submit">Submit Responses</button>
        </form>
</div>

</body>
 {% endblock %}